.divider
    width: 60%
    max-width: 640px
    height: 1px
    margin: 75px auto 0
    background: linear-gradient(90deg, rgba(230, 0, 126, 0) 0%, rgba(230, 0, 126, 0.45) 50%, rgba(230, 0, 126, 0) 100%)
    @media (min-width: 1100px)
        margin-top: 150px
